# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### Load Required Libraries

In [4]:
#Load required libraries
import pymysql
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [5]:
# Step 1: Connect to MySQL server (without specifying database)
connection = pymysql.connect(
    host='localhost', 
    user='root',
    passwd='root'
)

# Step 2: create cursor object
cursorObject = connection.cursor()

# Step 3: print connection to ensure that the local host MySQL is connected 
print(connection)

# Step 4: close the connection
connection.close()

<pymysql.connections.Connection object at 0x000002113B81B3D0>

### You are required to create a database named 'e_commerce'

In [6]:
# Step 1: Connect to MySQL server (without specifying database)
connection = pymysql.connect(
    host='localhost', 
    user='root',
    passwd='root'
)

# Step 2: create cursor object
cursorObject = connection.cursor()

# Step 3: create the requisite DB
cursorObject.execute("CREATE DATABASE IF NOT EXISTS e_commerce")

# Step 4: use the new database
cursorObject.execute("USE e_commerce")

0

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [8]:
# Step 1: Establishing the connection to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='root',
    database='e_commerce'
)

In [9]:
# Step 2: Creating the tables as per the given schema
with connection.cursor() as cursor:

    # Category Table
    create_category_table = """
    CREATE TABLE IF NOT EXISTS category (
        CAT_ID INT NOT NULL,
        CAT_NAME VARCHAR(20) NULL DEFAULT NULL,
        PRIMARY KEY (CAT_ID)
    );
    """
    cursor.execute(create_category_table)

    # Supplier Table
    create_supplier_table = """
    CREATE TABLE IF NOT EXISTS supplier (
        SUPP_ID INT PRIMARY KEY,
        SUPP_NAME VARCHAR(50),
        SUPP_CITY VARCHAR(50),
        SUPP_PHONE VARCHAR(10)
    );
    """
    cursor.execute(create_supplier_table)

    # Product Table
    create_product_table = """
    CREATE TABLE IF NOT EXISTS product (
        PRO_ID INT NOT NULL,
        PRO_NAME VARCHAR(20) NULL DEFAULT NULL,
        PRO_DESC VARCHAR(60) NULL DEFAULT NULL,
        CAT_ID INT NOT NULL,
        PRIMARY KEY (PRO_ID),
        FOREIGN KEY (CAT_ID) REFERENCES category(CAT_ID)
    );
    """
    cursor.execute(create_product_table)

    # Product Details Table
    create_productdetails_table = """
    CREATE TABLE IF NOT EXISTS product_details (
        PROD_ID INT NOT NULL,
        PRO_ID INT NOT NULL,
        SUPP_ID INT NOT NULL,
        PROD_PRICE INT NOT NULL,
        PRIMARY KEY (PROD_ID),
        FOREIGN KEY (PRO_ID) REFERENCES product(PRO_ID),
        FOREIGN KEY (SUPP_ID) REFERENCES supplier(SUPP_ID)
    );
    """
    cursor.execute(create_productdetails_table)

    # Customer Table
    create_customer_table = """
    CREATE TABLE IF NOT EXISTS customer (
        CUS_ID INT NOT NULL,
        CUS_NAME VARCHAR(20) NULL DEFAULT NULL,
        CUS_PHONE VARCHAR(10),
        CUS_CITY VARCHAR(30),
        CUS_GENDER CHAR,
        PRIMARY KEY (CUS_ID)
    );
    """
    cursor.execute(create_customer_table)

    # Orders Table
    create_orders_table = """
    CREATE TABLE IF NOT EXISTS orders (
        ORD_ID INT NOT NULL,
        ORD_AMOUNT INT NOT NULL,
        ORD_DATE DATE,
        CUS_ID INT NOT NULL,
        PROD_ID INT NOT NULL,
        PRIMARY KEY (ORD_ID),
        FOREIGN KEY (CUS_ID) REFERENCES customer(CUS_ID),
        FOREIGN KEY (PROD_ID) REFERENCES product_details(PROD_ID)
    );
    """
    cursor.execute(create_orders_table)

    # Rating Table
    create_rating_table = """
    CREATE TABLE IF NOT EXISTS rating (
        RAT_ID INT NOT NULL,
        CUS_ID INT NOT NULL,
        SUPP_ID INT NOT NULL,
        RAT_RATSTARS INT NOT NULL,
        PRIMARY KEY (RAT_ID),
        FOREIGN KEY (SUPP_ID) REFERENCES supplier(SUPP_ID),
        FOREIGN KEY (CUS_ID) REFERENCES customer(CUS_ID)
    );
    """
    cursor.execute(create_rating_table)

# Committing the changes
connection.commit()

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- |
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 |
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [10]:
# insert into "supplier" table

# Insert supplier details
insert_supplier_details = """
INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) 
VALUES (%s, %s, %s, %s)
"""

val = [
    (1, 'Rajesh Retails', 'Delhi', '1234567890'),
    (2, 'Appario Ltd.', 'Mumbai', '2589631470'),
    (3, 'Knome products', 'Bangalore', '9785462315'),
    (4, 'Bansal Retails', 'Kochi', '8975463285'),
    (5, 'Mittal Ltd.', 'Lucknow', '7898456532')
]

with connection.cursor() as cursor:
    cursor.executemany(insert_supplier_details, val)

# Committing the changes
connection.commit()

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [11]:
# insert into "customer" table

# Insert customer details
insert_customer_details = """
INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) 
VALUES (%s, %s, %s, %s, %s)
"""

val = [
    (1, 'AAKASH', '9999999999', 'DELHI', 'M'),
    (2, 'AMAN', '9785463215', 'NOIDA', 'M'),
    (3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
    (4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
    (5, 'PULKIT', '7895999999', 'LUCKNOW', 'M')
]

with connection.cursor() as cursor:
    cursor.executemany(insert_customer_details, val)

# Committing the changes
connection.commit()

#### Table:  category
| CAT_ID | CAT_NAME |
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES |
| 4 | ELECTRONICS |
| 5 | CLOTHES |

In [12]:
# insert into "category" table

# Insert category details
insert_category_details = """
INSERT INTO category (CAT_ID, CAT_NAME) 
VALUES (%s, %s)
"""

val = [
    (1, 'BOOKS'),
    (2, 'GAMES'),
    (3, 'GROCERIES'),
    (4, 'ELECTRONICS'),
    (5, 'CLOTHES')
]

with connection.cursor() as cursor:
    cursor.executemany(insert_category_details, val)

# Committing the changes
connection.commit()

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- |
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 |
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [13]:
# insert into "product" table

# Insert product details
insert_product_details = """
INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID) 
VALUES (%s, %s, %s, %s)
"""

val = [
    (1, 'GTA V', 'Adrenaline fueled Stunt Races', 2),
    (2, 'TSHIRT', 'Short sleeved casual top', 5),
    (3, 'ROG LAPTOP', 'Versatile gaming laptops', 4),
    (4, 'OATS', 'A nutrient rich food', 3),
    (5, 'HARRY POTTER', 'Series of seven fantasy novels', 1)
]

with connection.cursor() as cursor:
    cursor.executemany(insert_product_details, val)

# Committing the changes
connection.commit()

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- |
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 |
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [14]:
# insert into "product_details" table

# Insert product details
insert_productdetails = """
INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE) 
VALUES (%s, %s, %s, %s)
"""

val = [
    (1, 1, 2, 1500),
    (2, 3, 5, 30000),
    (3, 5, 1, 3000),
    (4, 2, 3, 2500),
    (5, 4, 1, 1000)
]

with connection.cursor() as cursor:
    cursor.executemany(insert_productdetails, val)

# Committing the changes
connection.commit()

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [15]:
# insert into "orders" table

# Insert order details
insert_order_details = """
INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) 
VALUES (%s, %s, %s, %s, %s)
"""

val = [
    (20, 1500, '2021-10-12', 3, 5),
    (25, 30500, '2021-09-16', 5, 2),
    (26, 2000, '2021-10-05', 1, 1),
    (30, 3500, '2021-08-16', 4, 3),
    (50, 2000, '2021-10-06', 2, 1)
]

with connection.cursor() as cursor:
    cursor.executemany(insert_order_details, val)

# Committing the changes
connection.commit()

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- |
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 |
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [16]:
# insert into "rating" table

# Insert rating details
insert_rating_details = """
INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) 
VALUES (%s, %s, %s, %s)
"""

val = [
    (1, 2, 2, 4),
    (2, 3, 4, 3),
    (3, 5, 1, 5),
    (4, 1, 3, 2),
    (5, 4, 5, 4)
]

with connection.cursor() as cursor:
    cursor.executemany(insert_rating_details, val)

# Committing the changes
connection.commit()

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [17]:
# Q3 Query to display the number of customers grouped by their gender who have placed any order of amount greater than or equal to Rs.3000

# SQL query to fetch the required data
query = """
SELECT c.CUS_GENDER, COUNT(*) AS num_customers
FROM customer c
JOIN orders o ON c.CUS_ID = o.CUS_ID
WHERE o.ORD_AMOUNT >= 3000
GROUP BY c.CUS_GENDER;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Customer count grouped by gender (orders >= 3000):")
for row in result:
    print(f"Gender: {row[0]}, Count: {row[1]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Cust_Gender', 'Count'])
print("\nPandas DataFrame:")
print(df)

Customer count grouped by gender (orders >= 3000):
Gender: M, Count: 1
Gender: F, Count: 1

Pandas DataFrame:
  Cust_Gender  Count
0           M      1
1           F      1

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [18]:
# Q4 Query to display all the order along with product name ordered by a customer having Customer_Id=2;

# Query to fetch all orders along with product name for a customer with Customer_Id=2
query = """
SELECT o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE, o.cus_id, p.pro_id, p.PRO_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
WHERE o.CUS_ID = 2;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Orders along with product name for customer with Customer_Id=2:")
for row in result:
    print(f"Order ID: {row[0]}, Amount: {row[1]}, Date: {row[2]}, Product Name: {row[3]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Order ID', 'Amount', 'Date', 'Cust ID', 'Prod ID', 'Product Name'])
print("\nPandas DataFrame:")
print(df)

Orders along with product name for customer with Customer_Id=2:
Order ID: 50, Amount: 2000, Date: 2021-10-06, Product Name: 2

Pandas DataFrame:
   Order ID  Amount        Date  Cust ID  Prod ID Product Name
0        50    2000  2021-10-06        2        1        GTA V

### Q5) Display the Supplier details who can supply more than one product.

In [19]:
# Q5 Display the Supplier details who can supply more than one product.

# Query to fetch supplier details who can supply more than one product
query = """
SELECT s.SUPP_ID, s.SUPP_NAME, s.SUPP_CITY, s.SUPP_PHONE
FROM supplier s
JOIN product_details pd ON s.SUPP_ID = pd.SUPP_ID
GROUP BY s.SUPP_ID, s.SUPP_NAME, s.SUPP_CITY, s.SUPP_PHONE
HAVING COUNT(pd.PRO_ID) > 1;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Supplier details who can supply more than one product:")
for row in result:
    print(f"Supplier ID: {row[0]}, Name: {row[1]}, City: {row[2]}, Phone: {row[3]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Supplier ID', 'Name', 'City', 'Phone'])
print("\nPandas DataFrame:")
print(df)

Supplier details who can supply more than one product:
Supplier ID: 1, Name: Rajesh Retails, City: Delhi, Phone: 1234567890

Pandas DataFrame:
   Supplier ID            Name   City       Phone
0            1  Rajesh Retails  Delhi  1234567890

### Q6) Find the category of the product whose order amount is minimum.

In [20]:
# Q6 Find the category of the product whose order amount is minimum.

# Query to fetch the category id and category name of the product with the minimum order amount
query = """
SELECT c.CAT_ID, c.CAT_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
JOIN category c ON p.CAT_ID = c.CAT_ID
ORDER BY o.ORD_AMOUNT ASC
LIMIT 1;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Category ID and category name of the product with the minimum order amount:")
for row in result:
    print(f"Category ID: {row[0]}, Category Name: {row[1]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Category ID', 'Category Name'])
print("\nPandas DataFrame:")
print(df)

Category ID and category name of the product with the minimum order amount:
Category ID: 3, Category Name: GROCERIES

Pandas DataFrame:
   Category ID Category Name
0            3     GROCERIES

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [21]:
# Q7 Display the Id and Name of the Product ordered after “2021-10-05”.

# Query to fetch the ID and Name of the product ordered after "2021-10-05"
query = """
SELECT p.PRO_ID, p.PRO_NAME
FROM orders o
JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
JOIN product p ON pd.PRO_ID = p.PRO_ID
WHERE o.ORD_DATE > '2021-10-05';
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("ID and Name of the Product ordered after 2021-10-05:")
for row in result:
    print(f"Product ID: {row[0]}, Product Name: {row[1]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Product ID', 'Product Name'])
print("\nPandas DataFrame:")
print(df)

ID and Name of the Product ordered after 2021-10-05:
Product ID: 4, Product Name: OATS
Product ID: 1, Product Name: GTA V

Pandas DataFrame:
   Product ID Product Name
0           4         OATS
1           1        GTA V

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [22]:
# Q8 Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.¶

# Query to fetch the top 3 supplier names and IDs, ratings, and the customer name and ID who has given the rating
query = """
SELECT s.SUPP_ID, s.SUPP_NAME, r.RAT_RATSTARS, c.CUS_ID, c.CUS_NAME
FROM rating r
JOIN supplier s ON r.SUPP_ID = s.SUPP_ID
JOIN customer c ON r.CUS_ID = c.CUS_ID
ORDER BY r.RAT_RATSTARS DESC
LIMIT 3;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Top 3 supplier names and IDs, ratings, and the customer name and ID who has given the rating:")
for row in result:
    print(f"Supplier ID: {row[0]}, Supplier Name: {row[1]}, Rating: {row[2]}, Customer ID: {row[3]}, Customer Name: {row[4]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Supplier ID', 'Supplier Name', 'Rating', 'Customer ID', 'Customer Name'])
print("\nPandas DataFrame:")
print(df)

Top 3 supplier names and IDs, ratings, and the customer name and ID who has given the rating:
Supplier ID: 1, Supplier Name: Rajesh Retails, Rating: 5, Customer ID: 5, Customer Name: PULKIT
Supplier ID: 2, Supplier Name: Appario Ltd., Rating: 4, Customer ID: 2, Customer Name: AMAN
Supplier ID: 5, Supplier Name: Mittal Ltd., Rating: 4, Customer ID: 4, Customer Name: MEGHA

Pandas DataFrame:
   Supplier ID   Supplier Name  Rating  Customer ID Customer Name
0            1  Rajesh Retails       5            5        PULKIT
1            2    Appario Ltd.       4            2          AMAN
2            5     Mittal Ltd.       4            4         MEGHA

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [23]:
# Q9 Display customer name and gender whose names start or end with character 'A'

# Query to fetch customer ID, customer name, and gender for customers whose names start or end with 'A'
query = """
SELECT CUS_ID, CUS_NAME, CUS_GENDER
FROM customer
WHERE CUS_NAME LIKE 'A%' OR CUS_NAME LIKE '%A';
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Customer ID, customer name, and gender for customers whose names start or end with 'A':")
for row in result:
    print(f"Customer ID: {row[0]}, Customer Name: {row[1]}, Gender: {row[2]}")

# Convert the result to a pandas DataFrame and display it
df = pd.DataFrame(result, columns=['Customer ID', 'Customer Name', 'Gender'])
print("\nPandas DataFrame:")
print(df)

Customer ID, customer name, and gender for customers whose names start or end with 'A':
Customer ID: 1, Customer Name: AAKASH, Gender: M
Customer ID: 2, Customer Name: AMAN, Gender: M
Customer ID: 3, Customer Name: NEHA, Gender: F
Customer ID: 4, Customer Name: MEGHA, Gender: F

Pandas DataFrame:
   Customer ID Customer Name Gender
0            1        AAKASH      M
1            2          AMAN      M
2            3          NEHA      F
3            4         MEGHA      F

### Q10) Display the total order amount of the male customers.

In [24]:
# Q10 Display the total order amount of the male customers.

# Query to fetch the total order amount of male customers

query = """
SELECT SUM(o.ORD_AMOUNT) AS Total_Order_Amount, COUNT(o.ORD_ID) AS Number_of_Orders
FROM orders o
JOIN customer c ON o.CUS_ID = c.CUS_ID
WHERE c.CUS_GENDER = 'M';
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Total order amount and number of orders of male customers:")
for row in result:
    print(f"Total Order Amount: {row[0]}, Number of Orders: {row[1]}")

# Convert the result to a pandas DataFrame and display it
import pandas as pd
df = pd.DataFrame(result, columns=['Total Order Amount', 'Number of Orders'])
print("\nPandas DataFrame:")
print(df)

Total order amount and number of orders of male customers:
Total Order Amount: 34500, Number of Orders: 3

Pandas DataFrame:
  Total Order Amount  Number of Orders
0              34500                 3

### Q11) Display all the Customers left outer join with  the orders

In [27]:
#Q11 Display all the Customers left outer join with the orders

# Query to perform a left outer join between customers and orders, displaying the necessary columns
query = """
SELECT o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE, o.CUS_ID, c.CUS_NAME, o.PROD_ID, p.PRO_NAME
FROM customer c
LEFT JOIN orders o ON c.CUS_ID = o.CUS_ID
LEFT JOIN product_details pd ON o.PROD_ID = pd.PROD_ID
LEFT JOIN product p ON pd.PRO_ID = p.PRO_ID;
"""

# Execute the query
with connection.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchall()

# Print the result using regular print
print("Customers with left outer join on orders (Order ID, Order Amount, Order Date, Customer ID, Customer Name, Product ID, Product Name):")
for row in result:
    print(f"Order ID: {row[0]}, Order Amount: {row[1]}, Order Date: {row[2]}, Customer ID: {row[3]}, Customer Name: {row[4]}, Product ID: {row[5]}, Product Name: {row[6]}")

# Convert the result to a pandas DataFrame and display it
import pandas as pd
df = pd.DataFrame(result, columns=['ORD_ID', 'ORD_AMOUNT', 'ORD_DATE', 'CUS_ID', 'CUS_NAME', 'PROD_ID', 'PRO_NAME'])
print("\nPandas DataFrame:")
print(df)

Customers with left outer join on orders (Order ID, Order Amount, Order Date, Customer ID, Customer Name, Product ID, Product Name):
Order ID: 26, Order Amount: 2000, Order Date: 2021-10-05, Customer ID: 1, Customer Name: AAKASH, Product ID: 1, Product Name: GTA V
Order ID: 50, Order Amount: 2000, Order Date: 2021-10-06, Customer ID: 2, Customer Name: AMAN, Product ID: 1, Product Name: GTA V
Order ID: 20, Order Amount: 1500, Order Date: 2021-10-12, Customer ID: 3, Customer Name: NEHA, Product ID: 5, Product Name: OATS
Order ID: 30, Order Amount: 3500, Order Date: 2021-08-16, Customer ID: 4, Customer Name: MEGHA, Product ID: 3, Product Name: HARRY POTTER
Order ID: 25, Order Amount: 30500, Order Date: 2021-09-16, Customer ID: 5, Customer Name: PULKIT, Product ID: 2, Product Name: ROG LAPTOP

Pandas DataFrame:
   ORD_ID  ORD_AMOUNT    ORD_DATE  CUS_ID CUS_NAME  PROD_ID      PRO_NAME
0      26        2000  2021-10-05       1   AAKASH        1         GTA V
1      50        2000  2021-10-06       2     AMAN        1         GTA V
2      20        1500  2021-10-12       3     NEHA        5          OATS
3      30        3500  2021-08-16       4    MEGHA        3  HARRY POTTER
4      25       30500  2021-09-16       5   PULKIT        2    ROG LAPTOP

**NOTE:** Always close an open connection once you are done with the database operations

In [28]:
#close an open connection once you are done with the database operations

# Close the connection
connection.close()

## Happy Learning:)